<!DOCTYPE html>
<html>
  <%- include('common/head') %>
  <body>
    <%- include('common/header') %>
    <main>
      <h2>Sign Up Page</h2>
      <form method="POST" action="/user/login">
        <% if(error){ %>
        <p><%- error %></p>
        <% } %>
        <label for="name">
          <span>Email</span><br />
          <input id="email" type="text" name="email" placeholder="Email" />
        </label>
        <label for="name">
          <span>Password</span><br />
          <input id="Password" type="password" name="password" placeholder="Password" />
        </label>
        <button type="submit">Login</button>
      </form>
    </main>
    <%- include('common/footer') %>
  </body>
</html>
