<nav>
  <h1>Logo</h1>
  <ul>
    <li><a href="/">Home</a></li>
    <% if (!isAuthenticated) { %>
    <li><a href="/signup">Sign Up</a></li>
    <li><a href="/signin">SignIn</a></li>
    <% } else { %>
    <li><p><%- user.name %></p></li>
    <li><a href="/signout">Signout</a></li>
    <% } %>
  </ul>
</nav>
<hr />
<style>
  nav {
    display: flex;
    padding: 30px 20px;
    justify-content: space-between;
  }

  nav ul {
    display: flex;
    column-gap: 20px;
    justify-content: space-between;
  }

  nav ul li {
    display: flex;
  }

  main {
    padding: 0 20px;
    min-height: 600px;
  }

  main form,
  main form label {
    display: block;
  }

  main form label {
    padding: 10px 0 10px;
  }
</style>
